<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="shortcut icon" type="image/png" href="{{ "/favicon.png" | prepend: site.baseurl }}" />
    
    {% seo %}
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120400595-1">
    </script>
    
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-120400595-1');
    </script>
  
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9810016899575248"
  crossorigin="anonymous"></script>
    
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9102949842529833",
            enable_page_level_ads: true
        });
    </script>
    
	<script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
	</script>
	
	<script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
	</script>
	
    <script>
        function AddActiveClass() 
        {
            var x = document.getElementsByClassName("activeable");
            for(i = 0; i < x.length; i++)
            {
                if(x[i].getAttribute("href") == window.location.pathname)
                    x[i].className = "active";
            }
        }
        
        function openNav() 
        {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() 
        {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    
    
</head>
